
<!-- <h1><%= title %></h1>
<p>Welcome to Book Directory <%= title %></p> -->


<nav>
    <ul class="form-control border-0 d-flex justify-content-between list-unstyled bg-transparent text-white">
        <h1><img src="https://www.favicon.cc/logo3d/900461.png" class="w-25 h-50" alt="logo">Book Directory</h1>
        <li class="d-flex gap-5 pt-2 fs-3">
            <a class=" text-decoration-none" href="/">Home</a>
            <a class=" text-decoration-none" href="/sign-up">SignUp</a>
            <a class=" text-decoration-none" href="/sign-in">SignIn</a>
            <a class=" text-decoration-none" href="/sign-in">SignOut</a>
        </li>
    </ul>
</nav>