<%- include('partials/header') %>
<%- include('partials/nav') %>
 
<form class="form m-auto mt-5 w-25 " action="/reset/<%= id %>" method="post" >
    <h1 class="mb-3 ">Reset password Form</h1>
    <input class="form-control mb-3 " type="password" name="oldpassword" id="oldpassword" placeholder="old password">
    <input class="form-control mb-3 " type="password" name="password" id="password" placeholder="new password">
    <button class="btn btn-primary mb-2">reset</button>
</form>
 

  <%- include('partials/footer') %>

