<%- include('partials/header') %>
<%- include('partials/nav') %>
   <form class="form m-auto mt-5 w-25  " action="/sign-in" method="post">
    <h1 class="text-white">Sign in Page</h1>
    <input class="form-control mb-3" type="text" name="username" placeholder="Username">
    <input class="form-control mb-3" type="password" name="password" placeholder="*********">
    <p><a href="/get-email">Forget password </a></p>
    <button class="btn btn-primary mb-2">Sign in</button>
    <p class="text-white">Don't have an account <a href="/sign-up">Sign up</a></p>
   </form>
<%- include('partials/footer') %>
